.income-page,
.coast-page,
.saving-page,
.budget-page {
    width: 90%;
    justify-content: center;
    background-color: white;

    @media screen and (max-width: 450px) {
        width: 100%;
        height: calc(var(--vh, 1vh) * 100);
    }
}

.budget-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    @media screen and (max-width: 450px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        height: 90%;
    }

    a {
        border: 1px solid black;
        width: 300px;
        height: 300px;
        line-height: 300px; /* same as height! */
        margin: 20px;
        border-radius: 150px;
        font-size: 32px;
        color: black;
        box-shadow: 2px 2px 10px gray;
        -moz-box-shadow: 2px 2px 10px gray;
        -webkit-box-shadow: 2px 2px 10px gray;
        background: linear-gradient(white, #107080);
        transition: transform 1s;

        @media screen and (max-width: 450px) {
            width: 200px;
            height: 200px;
            line-height: 200px; /* same as height! */
            border-radius: 150px;
        }

        &:hover {
            transform: scale(1.1);
            text-decoration: none;
            font-weight: bold;
            color: black;
        }
    }
}
