body {
    background: #e4e4e4 !important;
    width: 100%;
    margin: 0;    
    font-family: 'Sora', sans-serif;
}

.App {
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: 'Sora', sans-serif;
    
}



