$main-color : #e0e1dd;
$secondary-color: #778da9;
$text-color : #415a77;
$title-color: #1b263b;
$secondary-color : #0d1b2a;

body {
    background: white;
}

.App {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: 'Sora', sans-serif;

    @media screen and (max-width: 450px) {
        .footer {
            display: none;
        }
    }
    
}



