.footer {
    display: flex;
    flex-direction: row;
    color: white;
    padding: 10px;
    padding-right: 40px;
    width: 100%;
    justify-content: space-around;
    background-color: black;

    li {
        list-style-type: none;
        color: white;
        transition: transform 1s;

        a {
            color: white;
            &:hover {
                transform: scale(1.05);

                background-image: linear-gradient(15deg, #8a8a8a 25%, #565f56 100%);
            }
        }
    }

    h4,
    h3 {
        color: rgb(107, 193, 243);
    }

    .image-footer {
        margin-bottom: 10px;
       img {
           width: 170px;
       }
    }

    .footer-rs {
        li {
            margin-bottom: 20px;
        }
        svg {
            font-size: 40px;
        }
    }
}
