.wallet-page {
    width: 90%;
    justify-content: center;

    @media screen and (max-width: 450px) {
        width: 100%;
    }

    .wallet {
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        .wallet-list-header {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            @media screen and (max-width: 450px) {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: initial;
            }

            button {
                background-image: linear-gradient(15deg, #5a5a5a 25%, #191b19 100%);
                border: black;
                font-weight: bold;
                
                &:hover {
                    transform: scale(1.05);
                    background-image: linear-gradient(15deg, #8a8a8a 25%, #565f56 100%);
                }
            }
        }

        .wallet-list-mobile {
            @media screen and (max-width: 1366px) {
                display: none;
            }

            @media screen and (max-width: 450px) {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                margin-bottom: 10px;

                .table-mobile {
                    display: flex;
                    flex-direction: row;
                    background-color: white;
                    justify-content: space-around;
                    border: 1px solid black;
                    padding: 5px;

                    &:nth-child(2n) {
                        background-color: #dcdce9;
                    }

                    .thead-mobile .tr-mobile .th-mobile {
                        margin-bottom: 10px;
                    }

                    .tbody-mobile .tr-mobile .td-mobile {
                        margin-bottom: 10px;

                        button {
                            background-image: linear-gradient(15deg, #5a5a5a 25%, #191b19 100%);
                            border: black;
                            color: white;
                            transition: transform 1s;

                            &:hover {
                                transform: scale(1.05);
                                background-image: linear-gradient(15deg, #8a8a8a 25%, #565f56 100%);
                            }
                        }
                    }
                }
            }
        }

        .wallet-list-screen {
            margin-bottom: 10px;
            margin-top: 10px;

            @media screen and (max-width: 450px) {
                display: none;
            }

            table {
                tbody {
                    tr {
                        td {
                            button {
                                background-image: linear-gradient(15deg, #5a5a5a 25%, #191b19 100%);
                                border: black;
                                color: white;
                                transition: transform 1s;

                                &:hover {
                                    transform: scale(1.05);
                                    background-image: linear-gradient(15deg, #8a8a8a 25%, #565f56 100%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.wallet-list-mobile {
    display: none;
}