.wallet-page {
    width: 90%;

    .wallet {
        margin: auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin-top: 50px;
        margin-bottom: 50px;
        
    }

    .wallet-list-header {
        display: flex;
        justify-content: space-between;

        button {
            background-image: linear-gradient(15deg, #5a5a5a 25%, #191b19 100%);
            border: black;
            color: #6bf36b;
            width: 15%;
            font-weight: bold;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            transition: transform 1s;

            &:hover {
                transform: scale(1.05);

                background-image: linear-gradient(15deg, #8a8a8a 25%, #565f56 100%);
            }
        }
    }

    .wallet-list {
        border: 2px solid black;
        background-color: white;
        padding: 50px;

        h5 {
            text-align: center;
            border: 1px solid black;
            width: 25%;
            margin: 0px;
            padding: 5px;
        }

        .wallet-list-edit-button,
        .wallet-list-delete-button {
            background-image: linear-gradient(15deg, #5a5a5a 25%, #191b19 100%);
            border: black;
            color: #6bf36b;
            transition: transform 1s;

            &:hover {
                transform: scale(1.05);
                background-image: linear-gradient(15deg, #8a8a8a 25%, #565f56 100%);
            }

            svg {
                font-size: 20px;
            }
        }

        .wallet-add,
        .wallet-edit {
            #wallet-add-form,
            #wallet-edit-form {
                border: 1px solid black;
                padding-bottom: 10px;
                margin-bottom: 10px;

                #wallet-add-form-amount,
                #wallet-edit-form-amount {
                    width: 50%;
                    margin-left: auto;
                    margin-right: auto;
                }

                button {
                    margin-top: 10px;

                    background-image: linear-gradient(15deg, #5a5a5a 25%, #191b19 100%);
                    border: black;
                    color: #6bf36b;
                    transition: transform 1s;

                    &:hover {
                        transform: scale(1.05);
                        background-image: linear-gradient(15deg, #8a8a8a 25%, #565f56 100%);
                    }
                }
            }
        }
    }
}
